.cover__title {
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  color: #fff;
  margin: 0 auto;
  z-index: 3;
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}
